/* ==============
loading animation
=============== */

@keyframes loading {
  0%  {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(10px);
  }
  100%  {
    transform: translateY(0px);
  }
}


/* ==============
home Top float-in animation
=============== */

@keyframes FloatIn {
  0% {
    opacity: 0;
    transform: translateY(300px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
@keyframes FloatDown {
  0% {
    opacity: 0;
    transform: translateY(-300px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
@keyframes HomeFadeIn {
0% {
  opacity: 0;
}
100%{
  opacity: 1;
}
}

/* ==============
home bottom floating animation
=============== */

@keyframes homeBottom-hover {
  0% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(-10px);
  }
  100% {
    transform: translateX(0px);
  }
}

/* ==============
floating animation
=============== */

@keyframes floating {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-30px);
  }
  100% {
    transform: translateY(0px);
  }
}

/* ==============
services floating animation
=============== */

@keyframes Customfloat {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0px);
  }
}

/* ==============
scale animation for floating
=============== */

@keyframes scale-down {
  0% {
    transform: translateX(0%) translateY(0%);
  }
  50% {
    transform: translateX(-0.5%) translateY(-0.5%);
  }
  100% {
    transform: translateX(0%) translateY(0%);
  }
}

/* ==============
service top floating animation
=============== */

@keyframes serviceTop-hover {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}

/* ==============
work top left right animation
=============== */

@keyframes leftright {
  0%{
    transform: translateX(0px);
  }
  50%{
    transform: translateX(10px);
  }
  100%{
    transform: translateX(0px);
  }
}
@keyframes rightleft {
  0%{
    transform: translateX(0px);
  }
  50%{
    transform: translateX(-10px);
  }
  100%{
    transform: translateX(0px);
  }
}
