* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  overflow-x: hidden;
}
@font-face {
  src: url('./fonts/Nature.ttf');
  font-family: Nature;
}
@font-face {
  src: url('./fonts/Pacifico.ttf');
  font-family: Pacifico;
}
@font-face {
  src: url('./fonts/Raleway.ttf');
  font-family: Raleway;
}

/* Fade-in on scroll */

.fade-in {
  opacity: 0;
  transition: opacity 0.5s ease-in;
}
.fade-in.appear {
  opacity: 1;
}

/* Loading screen */

.Loading {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  background-color: #40ff73;
  z-index: 3;
}
.Loading img {
  width: 200px;
  animation-duration: 3s;
  animation: spinning 2s ease infinite;
}
.Loading h2 {
  margin-top: 20px;
  font-size: 30px;
  font-family: Raleway;
  font-weight: 100;
  color: white;
  font-weight: bold;
}
.Loading h2 span {
  font-weight: bold;
}
@media (max-width: 600px) {
  .Loading h2 {
    font-size: 22px;
  }
}
@keyframes spinning {
  100% {
    transform: rotate(360deg);
  }
}

/* Contact Form */

.contact-background {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.7;
  z-index: 2;
}
.contact-wrapper {
  display: none;
}
.contact-form {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  z-index: 3;
}
.contact-form .contact-content {
  background-color: white;
  padding: 40px;
  font-family: Raleway;
  text-align: center;
}
.contact-content h2 {
  font-family: sans-serif;
  font-size: 20px;
  font-weight: bold;
}
.contact-content .exit-button {
  float: right;
  position: relative;
  font-size: 30px;
  font-weight: bold;
  bottom: 40px;
  left: 25px;
}
.contact-content .exit-button:hover {
  cursor: pointer;
}
.contact-content .section {
  padding: 10px;
  width: 100%;
}
.contact-content .section input[type="text"] {
  width: 100%;
  padding: 10px;
}
.contact-content .section textarea[type="text"] {
  width: 100%;
  resize: none;
}
.contact-content .button-section p{
  padding: 10px 5px;
  color: white;
  font-family: sans-serif;
  font-weight: bold;
  background-color: #00BC61;
}
.contact-content .button-section p:hover{
  cursor: pointer;
}

/* header section */

header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 20px 100px 0;
  font-family: Raleway;
  color: #212121;
  z-index: 1;
  animation: HomeFadeIn 2s ease 0s;
}
header img {
  width: 80px;
}
@media (max-width: 600px) {
  header {
    padding: 20px 50px;
    font-size: 14px;
  }
}

/* Navigation Icon */

.nav-burger {
  display: inline-block;
  padding: 16px;
  border-radius: 500px;
  transition: 0.5s;
  z-index: 1;
}
.nav-burger:hover {
  cursor: pointer;
}
.nav-burger div {
  margin: 5px;
  border-radius: 10px;
  height: 5px;
  background-color: white;
  transition: 0.5s;
  z-index: 1;
}
.nav-burger:hover div{
  width: 35px;
}
.nav-burger .line-1 {
  display: block;
  width: 35px;
  transform: rotate(0deg);
}
.nav-burger .line-2 {
  display: block;
  width: 15px;
  transform: rotate(0deg);
}
.nav-burger .line-3 {
  display: block;
  width: 25px;
  transform: rotate(0deg);
}

/* Navigation Bar */

.nav-bar {
  display: none;
  position: absolute;
  height: 100vh;
  width: 200px;
  background-color: #212121;
  top: 0;
  right: 0;
  list-style: none;
  z-index: 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: 0.8s all;
  z-index: 2;
}
.navFade {
  right: 0px;
}
.nav-bar .nav-wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 0;
}
.nav-bar .close-nav {
  position: relative;
  font-weight: bold;
  font-size: 40px;
  color: white;
  bottom: 230px;
  right: 70px;
}
.nav-bar .close-nav:hover {
  cursor: pointer;
}
.nav-bar a{
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 25px;
}
.nav-bar a:hover {
  opacity: 0.6;
  transition: 0.5s;
}
.nav-bar p {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 25px;
}
.nav-bar p:hover {
  opacity: 0.6;
  transition: 0.5s;
  cursor: pointer;
}

section {
  background-color: #313C4A;
}

/* Home Section */

#Home {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  font-family: Raleway;
  min-height: 100vh;
  width: 100%;
}
#Home .Left-Side {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin-left: 100px;
}
#Home .Left-Side h2 {
  font-size: 45px;
  color: white;
  margin-bottom: 10px;
  font-weight: bold;
}
#Home .Left-Side p {
  margin-bottom: 10px;
  font-size: 20px;
  color: white;
}
#Home .Left-Side a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  padding: 10px 25px;
  border: 3px solid #00BC61;
  background-color: #00BC61;
  border-radius: 4px;
}
#Home .Left-Side a:hover {
  transition: 0.5s;
  color: white;
}
#Home .Left-Side div {
  margin-top: 20px;
}
#Home .Right-Side {
  width: 50%;
  height: 100%;
}
#Home .Right-Side img {
  animation: FloatIn 1s ease, floating 3s ease 1s infinite;
  margin-left: 70px;
}

/* mobile */

@media (max-width: 1100px) {
  #Home .Left-Side h2{
    font-size: 30px;
  }
  #Home .Left-Side p {
    font-size: 14px;
  }
  #Home .Right-Side img {
    width: 400px;
  }
}
@media (max-width: 800px) {
  #Home .Right-Side img {
    width: 300px;
  }
}
@media (max-width: 550px) {
  #Home {
    flex-direction: column-reverse;
    height: 20vh;
  }
   #Home .Left-Side {
    margin-top: 70px;
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 0;
  }
  #Home .Left-Side h2 {
    font-size: 25px;
    text-align: center;
  }
  #Home .Left-Side p {
    width: 80%;
    text-align: center;
  }
  #Home .Right-Side {
    width: 50%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #Home .Right-Side img{
    margin-top: 200px;
    margin-left: 0px;
    width: 350px;
  }
}

/* animations */

@keyframes FloatIn {
  0% {
    opacity: 0;
    transform: translateY(300px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
@keyframes HomeFadeIn {
0% {
  opacity: 0;
}
100%{
  opacity: 1;
}
}

/* About Section */

#Story {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  font-family: Raleway;
  width: 100%;
  height: 100vh;
}
#Story .hero-profile {
  width: 55%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
#Story .hero-profile .image-content {
   position: relative;
}
#Story .hero-profile img {
  width: 250px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#Story .hero-profile .rectangle {
  width: 200px;
  height: 350px;
  position: absolute;
  top: 50px;
  left: -40px;
  background-color: #00BC61;
  z-index: -1;
}
#Story .hero-profile .hero-content {
  width: 60%;
}
#Story .hero-content h2{
  font-size: 70px;
  margin-bottom: 30px;
  color: #ffffff;
  text-shadow: #474747 3px 3px 3px;
}
#Story .hero-content p {
  width: 500px;
  color: white;
}
#Story .hero-content a {
  text-decoration: none;
  color: white;
}
#Story .hero-content .contact-button {
  display: flex;
  justify-content: center;
  width: 130px;
  margin-top: 40px;
  color: white;
  font-weight: bold;
  border-radius: 4px;
  background-color: #00BC61;
  padding: 10px 20px;
  cursor: pointer;
}

/* mobile */

@media (max-width: 850px) {
  #Story .hero-profile {
    transform: scale(0.7, 0.7);
  }
}
@media (max-width: 600px) {
  #Story .hero-profile {
    flex-direction: column;
  }
  #Story .hero-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 350px;
    margin-top: 50px;
  }
  #Story .hero-content p {
    width: 400px;
  }
}

/* Skills Section */

.hero-heading {
  width: 100%;
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.heading {
  width: 40px;
  display: flex;
  justify-content: center;
  font-family: Raleway;
  font-weight: lighter;
  color: white;
  font-size: 25px;
  border-bottom: 2px solid #00BC61;
}

#Skills {
  display: flex;
  width: 100%;
  height: 200vh;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: Raleway;
}
#Skills .hero-skills {
  height: 180vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#Skills .Web-Development {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;
}
#Skills .Web-Development .rectangle {
  position: absolute;
  left: 0;
  width: 700px;
  height: 400px;
  background-color: #F3F3F3;
  z-index: -1;
}
#Skills .Web-Development .text-section {
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#Skills .Web-Development .text-section h2{
  font-weight: lighter;
  color: white;
  letter-spacing: 4px;
  text-transform: uppercase;
}
#Skills .Web-Development .text-section p{
  font-weight: lighter;
  color: white;
  font-size: 20px;
  letter-spacing: 4px;
  margin-top: 15px;
}
#Skills .Web-Development .image-section {
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#Skills .Web-Development .image-section .code-logo {
  position: absolute;
  width: 550px;
  animation: floating 3s ease infinite;
}
#Skills .pictures {
  width: 65%;
  opacity: 0.8;
}
#Skills .Video-Editing {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
}
#Skills .Video-Editing .image-section {
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#Skills .Video-Editing .image-section .video-logo {
  position: absolute;
  width: 550px;
  animation: floating ease 3s infinite;
}
#Skills .Video-Editing .rectangle {
  position: absolute;
  right: 0;
  width: 700px;
  height: 400px;
  background-color: #F3F3F3;
  z-index: -1;
}
#Skills .Video-Editing .text-section {
  height: 100%;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#Skills .Video-Editing .text-section .channel-name {
  text-decoration: none;
  color: black;
}
.text-section p {
  font-weight: lighter;
  color: white;
  font-size: 20px;
  letter-spacing: 4px;
  margin-top: 15px;
  width: 70%;
}
.text-section h2 {
  font-weight: lighter;
  color: white;
  letter-spacing: 4px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

/* mobile */

@media (max-width: 650px) {
  #Skills .Web-Development {
    flex-direction: column;
  }
  #Skills .Web-Development .rectangle {
    width: 200px;
  }
  #Skills .Web-Development .text-section {
    width: 100%;
  }
  #Skills .Web-Development .image-section {
    width: 100%;
  }
  #Skills .Web-Development .image-section .code-logo {
    width: 180px;
  }
  #Skills .Video-Editing {
    flex-direction: column;
  }
  #Skills .Video-Editing .rectangle {
    width: 200px;
  }
  #Skills .Video-Editing .text-section {
    width: 100%;
  }
  #Skills .Video-Editing .image-section {
    width: 100%;
  }
  #Skills .Video-Editing .image-section .video-logo {
    width: 180px;
  }
  #Skills .image-section .pictures {
    width: 200px;
  }
}

/* floating animation */

@keyframes floating {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(30px);
  }
  100% {
    transform: translateY(0px);
  }
}

/* Projects Section */

#Projects {
  width: 100%;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#Projects .Image-slider {
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
#Projects .Image-slider .image {
  display: none;
}
#Projects .Image-slider .image.active {
  display: block;
}
#Projects .Image-slider .image img{
  width: 700px;
}
#Projects .Image-slider .image-wrapper img {
  cursor: pointer;
  animation: leftright 2s ease infinite;
}
#Projects .Image-slider .image-wrapper-2 img {
  cursor: pointer;
  animation: rightleft 2s ease infinite;
}
#Projects .Image-slider .image .project-buttons {
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
}
#Projects .Image-slider .image a:nth-child(1) {
  text-decoration: none;
  background-color: #00BC61;
  color: white;
  font-family: Raleway;
  font-weight: bolder;
  padding: 8px 20px;
  margin-right: 30px;
  border: 3px solid #00BC61;
  border-radius: 5px;
}
#Projects .Image-slider .image a:nth-child(2) {
  text-decoration: none;
  background-color: #212121;
  color: white;
  font-family: Raleway;
  font-weight: bolder;
  padding: 8px 20px;
  margin-left: 30px;
  border: 3px solid #212121;
  border-radius: 5px;
}
#Projects .Project-Cube {
  width: 300px;
  height: 300px;
  position: absolute;
  top: 50;
  transform: rotate(-30deg);
  left: -200px;
  background-color: #F44336;
}

/* mobile */

@media (max-width: 950px) {
  #Projects .Image-slider .image img{
    width: 500px;
  }
}
@media (max-width: 650px) {
   #Projects .Image-slider .image img {
     width: 250px;
   }
   #Projects .Image-slider .image-wrapper img {
     width: 50px;
   }
   #Projects .Image-slider .image-wrapper-2 img {
     width: 50px;
   }
}

/* Footer */

footer {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #00BC61;
  padding: 15px;
}
footer div {
  padding: 5px 0px 5px;
}
footer div img {
  padding: 8px;
  background-color: white;
  border-radius: 50%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: 0.2s;
}
footer div img:hover {
  transition: 0.2s;
  transform: translateY(-10px);
}
footer p {
  font-family: Raleway;
  font-weight: bolder;
  color: #212121;
}

@keyframes leftright {
  0% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(0px);
  }
}
@keyframes rightleft {
  0% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(-10px);
  }
  100% {
    transform: translateX(0px);
  }
}
