* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
@font-face {
  src: url('./fonts/Nature.ttf');
  font-family: Nature;
}
@font-face {
  src: url('./fonts/Pacifico.ttf');
  font-family: Pacifico;
}
@font-face {
  src: url('./fonts/Raleway.ttf');
  font-family: Raleway;
}

/* Contact Form */

.contact-background {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.7;
  z-index: 2;
}
.contact-wrapper {
  display: none;
}
.contact-form {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  z-index: 3;
}
.contact-form .contact-content {
  background-color: white;
  padding: 40px;
  font-family: Raleway;
  text-align: center;
}
.contact-content h2 {
  font-family: sans-serif;
  font-size: 20px;
  font-weight: bold;
}
.contact-content .exit-button {
  float: right;
  position: relative;
  font-size: 30px;
  font-weight: bold;
  bottom: 40px;
  left: 25px;
}
.contact-content .exit-button:hover {
  cursor: pointer;
}
.contact-content .section {
  padding: 10px;
  width: 100%;
}
.contact-content .section input[type="text"] {
  width: 100%;
  padding: 10px;
}
.contact-content .section textarea[type="text"] {
  width: 100%;
  resize: none;
}
.contact-content .button-section p{
  padding: 10px 5px;
  color: white;
  font-family: sans-serif;
  font-weight: bold;
  background-color: #F44336;
}
.contact-content .button-section p:hover{
  cursor: pointer;
}

header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 20px 100px 0;
  font-family: Raleway;
  color: #212121;
  z-index: 1;
  animation: HomeFadeIn 2s ease 0s;
}
header img {
  width: 60px;
}
@media (max-width: 600px) {
  header {
    font-size: 14px;
  }
}
/* Navigation Icon */

.nav-burger {
  display: inline-block;
  padding: 16px;
  border-radius: 500px;
  transition: 0.5s;
  z-index: 1;
}
.nav-burger:hover {
  cursor: pointer;
}
.nav-burger div {
  margin: 5px;
  border-radius: 10px;
  height: 5px;
  background-color: #212121;
  transition: 0.5s;
  z-index: 1;
}
.nav-burger:hover div{
  width: 35px;
}
.nav-burger .line-1 {
  display: block;
  width: 35px;
  transform: rotate(0deg);
}
.nav-burger .line-2 {
  display: block;
  width: 15px;
  transform: rotate(0deg);
}
.nav-burger .line-3 {
  display: block;
  width: 25px;
  transform: rotate(0deg);
}
@media (max-width: 600px) {
   .nav-burger {
     transform: scale(0.8, 0.8);
   }
}
/* Navigation Bar */

.nav-bar {
  display: none;
  position: absolute;
  height: 100vh;
  width: 200px;
  background-color: #212121;
  top: 0;
  right: 0;
  list-style: none;
  z-index: 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: 0.8s all;
  z-index: 2;
}
.navFade {
  right: 0px;
}
.nav-bar .nav-wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 0;
}
.nav-bar .close-nav {
  position: relative;
  font-weight: bold;
  font-size: 40px;
  color: white;
  bottom: 230px;
  right: 70px;
}
.nav-bar .close-nav:hover {
  cursor: pointer;
}
.nav-bar a{
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 25px;
}
.nav-bar a:hover {
  opacity: 0.6;
  transition: 0.5s;
}
.nav-bar p {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 25px;
}
.nav-bar p:hover {
  opacity: 0.6;
  transition: 0.5s;
  cursor: pointer;
}

/* Home Section */

#Home {
  display: flex;
  position: relative;
  align-items: center;
  font-family: Raleway;
  min-height: 100vh;
  width: 100%;
}
#Home .Left-Side {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin-left: 100px;
}
#Home .Left-Side h2 {
  font-size: 40px;
}
#Home .Left-Side a {
  text-decoration: none;
  color: #F44336;
  font-weight: bold;
  padding: 10px 25px;
  border: 3px solid #F44336;
  border-radius: 4px;
}
#Home .Left-Side a:hover {
  transition: 0.5s;
  background-color: #F44336;
  color: white;
}
#Home .Left-Side div {
  margin-top: 20px;
}
#Home .Right-Side {
  width: 50%;
  height: 100%;
}
#Home .Right-Side img{
  width: 85%;
}
@media (max-width: 800px) {

}
@keyframes HomeFadeIn {
0% {
  opacity: 0;
}
100%{
  opacity: 1;
}
}
/*
#logo {
  width: 100%;
  animation: fill 0.5s ease forwards 2.5s;
  z-index: 1;
}
#logo path:nth-child(1) {
   stroke-dasharray: 356;
   stroke-dashoffset: 356;
   animation: WriteEffect 2s ease forwards;
}
#logo path:nth-child(2) {
  stroke-dasharray: 229;
  stroke-dashoffset: 229;
  animation: WriteEffect 2s ease forwards;
}
#logo path:nth-child(3) {
  stroke-dasharray: 249;
  stroke-dashoffset: 249;
  animation: WriteEffect 2s ease forwards;
}
#logo path:nth-child(4) {
  stroke-dasharray: 249;
  stroke-dashoffset: 249;
  animation: WriteEffect 2s ease forwards;
}
#logo path:nth-child(5) {
  stroke-dasharray: 229;
  stroke-dashoffset: 229;
  animation: WriteEffect 2s ease forwards;
}
#logo path:nth-child(6) {
  stroke-dasharray: 157;
  stroke-dashoffset: 157;
  animation: WriteEffect 2s ease forwards;
}
#logo path:nth-child(7) {
  stroke-dasharray: 229;
  stroke-dashoffset: 229;
  animation: WriteEffect 2s ease forwards;
}
#logo path:nth-child(8) {
  stroke-dasharray: 106;
  stroke-dashoffset: 106;
  animation: WriteEffect 2s ease forwards;
}
#logo path:nth-child(9) {
  stroke-dasharray: 192;
  stroke-dashoffset: 192;
  animation: WriteEffect 2s ease forwards;
}
#logo path:nth-child(10) {
  stroke-dasharray: 258;
  stroke-dashoffset: 258;
  animation: WriteEffect 2s ease forwards;
}
#logo path:nth-child(11) {
  stroke-dasharray: 229;
  stroke-dashoffset: 229;
  animation: WriteEffect 2s ease forwards;
}
#logo path:nth-child(12) {
  stroke-dasharray: 109;
  stroke-dashoffset: 109;
  animation: WriteEffect 2s ease forwards;
}
#logo path:nth-child(13) {
  stroke-dasharray: 277;
  stroke-dashoffset: 277;
  animation: WriteEffect 2s ease forwards;
}
#logo path:nth-child(14) {
  stroke-dasharray: 206;
  stroke-dashoffset: 206;
  animation: WriteEffect 2s ease forwards;
}
#logo path:nth-child(15) {
  stroke-dasharray: 249;
  stroke-dashoffset: 249;
  animation: WriteEffect 2s ease forwards;
}
#logo path:nth-child(16) {
  stroke-dasharray: 106;
  stroke-dashoffset: 106;
  animation: WriteEffect 2s ease forwards;
}
#logo path:nth-child(17) {
  stroke-dasharray: 139;
  stroke-dashoffset: 139;
  animation: WriteEffect 2s ease forwards;
}
#logo path:nth-child(18) {
  stroke-dasharray: 192;
  stroke-dashoffset: 192;
  animation: WriteEffect 2s ease forwards;
}
#logo path:nth-child(19) {
  stroke-dasharray: 109;
  stroke-dashoffset: 109;
  animation: WriteEffect 2s ease forwards;
}
.home-background-1 {
  position: absolute;
  width: 20%;
  top: 150px;
  right: 100px;
  z-index: -1;
  animation: float 2s ease infinite;
}
.home-background-2 {
  position: absolute;
  width: 20%;
  top: 300px;
  left: 80px;
  z-index: -1;
  animation: float 3s ease infinite;
}
.button-wrapper {
  display: flex;
  justify-content: center;
}
#work-button {
  text-decoration: none;
  margin-top: 50px;
  font-weight: bold;
  border-radius: 5px;
  font-size: 20px;
  border: 3px solid #F44336;
  color: #F44336;
  padding: 10px 40px 10px;
  animation: HomeFadeIn 2s ease 0s;
  z-index: 0;
}
#work-button:hover {
  background-color: #F44336;
  color: white;
  cursor: pointer;
  transition: 0.5s;
}
@keyframes WriteEffect {
 100%{
   stroke-dashoffset: 0;
 }
}
@keyframes fill {
  0% {
    fill: transparent;
  }
  100%{
    fill: #212121;
  }
}
@keyframes float {
   0% {
     transform: translateY(10px);
   }
   50% {
     transform: translateY(-10px);
   }
   100% {
     transform: translateY(10px);
   }
}

@media (max-width: 600px) {
   header {
     padding: 30px 40px 0;
   }
   #logo {
     transform: scale(0.7, 0.7);
   }
   .profile {
     transform: scale(0.7, 0.7);
   }
}

*/

/* About Section */

#Story {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  font-family: Raleway;
  width: 100%;
  height: 100vh;
}
#Story .hero-profile {
  width: 70%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
#Story .hero-profile .image-content {
  position: relative;
}
#Story .hero-profile .leftfade {
  transition: all 400ms;
  transform: translate(0px, 0);
}
#Story .hero-profile img {
  width: 350px;
  transform: rotate(-90deg);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#Story .hero-profile .rectangle {
  width: 250px;
  height: 350px;
  position: absolute;
  top: 0;
  background-color: #F44336;
  z-index: -1;
}
#Story .hero-profile .hero-content {
  width: 500px;
}
#Story .hero-content h2{
  margin-bottom: 30px;
}
#Story .hero-content p {
  width: 500px;
}
#Story .hero-content a {
  text-decoration: none;
  color: #212121;
}
#Story .hero-content .contact-button {
  margin-top: 40px;
  color: #F44336;
  font-weight: bold;
  border-radius: 4px;
  border: 2px solid #F44336;
  width: 105px;
  padding: 10px 20px;
}
@media (max-width: 850px) {
  #Story .hero-profile {
    transform: scale(0.7, 0.7);
  }
}
@media (max-width: 600px) {
  #Story .hero-profile {
    flex-direction: column;
  }
  #Story .hero-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 350px;
    margin-top: 150px;
  }
  #Story .hero-content p {
    width: 400px;
  }
}
/* Skills Section */

.hero-heading {
  width: 100%;
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.heading {
  width: 40px;
  display: flex;
  justify-content: center;
  font-family: Raleway;
  font-weight: bold;
  font-size: 25px;
  border-bottom: 2px solid #F44336;
}

#Skills {
  display: flex;
  width: 100%;
  height: 200vh;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: Raleway;
}
#Skills .hero-skills {
  height: 180vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#Skills .Web-Development {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;
}
#Skills .Web-Development .text-section {
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#Skills .Web-Development .image-section {
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#Skills .Web-Development .image-section .code-logo {
  position: absolute;
  width: 20%;
  animation: floating 3s ease infinite;
}
#Skills .pictures {
  width: 65%;
  opacity: 0.5;
}
#Skills .Video-Editing {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
}
#Skills .Video-Editing .image-section {
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#Skills .Video-Editing .image-section .video-logo {
  position: absolute;
  width: 20%;
  animation: floating ease 3s infinite;
}
#Skills .Video-Editing .text-section {
  height: 100%;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#Skills .Video-Editing .text-section .channel-name {
  text-decoration: none;
  color: black;
}
.text-section p {
  width: 70%;
}
.text-section h2 {
  margin-bottom: 20px;
}
@media (max-width: 650px) {
  #Skills .Web-Development {
    flex-direction: column;
  }
  #Skills .Web-Development .image-section {
    width: 100%;
  }
  #Skills .Video-Editing {
    flex-direction: column;
  }
  #Skills .Video-Editing .image-section {
    width: 100%;
  }
  #Skills .hero-skills {
    height: 80vh;
  }
  #Skills .Web-Development .text-section {
    width: 100%;
  }
  #Skills .Video-Editing .text-section {
    width: 100%;
  }
}
@keyframes floating {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(50px);
  }
  100% {
    transform: translateY(0px);
  }
}

/* Projects Section */

#Projects {
  width: 100%;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#Projects .hero-project {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80vh;
  width: 1100px;
}
#Projects .picture {
  text-align: center;
  font-family: Raleway;
  width: 300px;
  z-index: 1;
  padding: 10px;
  transition: 0.5s;
}
#Projects .pro {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#Projects .non-hover {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  z-index: 0;
}
#Projects .hero-project .project-buttons {
  width: 200px;
  display: flex;
  justify-content: space-between;
  align-content: center;
}
#Projects .hero-project .project-buttons a:nth-child(1) {
  text-decoration: none;
  background-color: #F44336;
  color: white;
  font-family: Raleway;
  font-weight: bolder;
  padding: 8px 20px;
  border: 3px solid #F44336;
  border-radius: 5px;
}
#Projects .hero-project .project-buttons a:nth-child(2) {
  text-decoration: none;
  background-color: #212121;
  color: white;
  font-family: Raleway;
  font-weight: bolder;
  padding: 8px 20px;
  border: 3px solid #212121;
  border-radius: 5px;
}
#Projects .hero-project .project-buttons a:nth-child(1):hover {
  transition: 0.5s;
  background-color: #F44336;
  color: white;
}
#Projects .hero-project .project-buttons a:nth-child(2):hover {
  transition: 0.5s;
  background-color: #212121;
  color: white;
}
@media (max-width: 1120px) {
#Projects .hero-project {
  flex-direction: column;
  height: 100vh;
  width: 60%;
  margin-bottom: 40px;
}
}
/* Footer */

footer {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #F44336;
  padding: 15px;
}
footer div {
  padding: 5px 0px 5px;
}
footer div img {
  padding: 8px;
  background-color: white;
  border-radius: 50%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: 0.2s;
}
footer div img:hover {
  transition: 0.2s;
  transform: translateY(-10px);
}
footer p {
  font-family: Raleway;
  font-weight: bolder;
  color: #212121;
}

/* Fade classes

.fade-left {
  transform: translate(200px, 0);
  opacity: 1;
}
